{% extends "base.html" %}

{% block content %}
<div id="gallery">
<div class="container-fluid">
   <ul class="row">
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
           <a href="#">
               <img src= "/static/Pictures/Jerry1.jpg" class="img-rounded" width="100"/>
           </a>
       </li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
           <a href="#">
               <img src= "/static/Pictures/Jerry2.jpg" class="img-rounded" width="100"/>
           </a>
       </li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
           <a href="#" >
               <img src= "/static/Pictures/party_go.jpg" class="img-rounded" width="100"/>
           </a>
       </li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
           <a href="#">
               <img src= "/static/Pictures/party.jpg" class="img-rounded" width="100"/>
           </a>
       </li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
           <a href="#">
            <img src= "/static/Pictures/wayne1.jpg" class="img-rounded" width="100"/>
           </a>
       </li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
           <a href="#">
               <img src= "/static/Pictures/wayne2.jpg" class="img-rounded" width="100"/>
           </a>
       </li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
           <a href="#">
               <img src= "/static/Pictures/wayne3.jpg" class="img-rounded" width="100"/>
           </a>
       </li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
           <a href="#">
               <img src= "/static/Pictures/wayne4.jpg" class="img-rounded" width="100"/>
           </a>
       </li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
           <a href="#">
               <img src= "/static/Pictures/wayne6.JPG" class="img-rounded" width="100"/>
           </a>
       </li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
           <a href="#">
               <img src= "/static/Pictures/RI_party.JPG" class="img-rounded" width="100"/>
           </a>
       </li>
   </ul>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

    <!--<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">-->
    <!--<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">-->
    <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
    <!--<script src="/static/js/bootstrap.min.js"></script>-->
    <script src="/static/js/gallery.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/gallery.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <script src="/static/js/masonry.pkgd.min.js"></script>

{% endblock %}

