{% extends "base.html" %}

{% block content %}
<div class="container-fluid main-content">
        {% for post in posts.items %}
        <div class="panel panel-default">
                <div class="panel-body">
                    <h1>{{ post.title }} </h1>
                    <p>
                        <br>{{ post.body|safe }}
                    </p>
                    <div>
                        <span class="badge"> Posted on {{ post.timestamp }} </span>
                    </div>
                    <br>
                </div>
        </div>
        {% endfor %}
</div>

<!--<link href="/static/wysiwyg/summernote.css" rel="stylesheet">-->
<!--<script src="/static/wysiwyg/summernote.min.js"></script>-->
<!--<script>var edit = function() {-->
  <!--$('.click2edit').summernote({focus: true});-->
<!--};-->

<!--var save = function() {-->
  <!--var makrup = $('.click2edit').summernote('code');-->
  <!--$('.click2edit').summernote('destroy');-->
<!--};-->
<!--</script>-->

 <br>
 <br>
<nav aria-label="...">
  <ul class="pager">
{% if posts.has_prev %}<li><a href="{{ url_for('index', page=posts.prev_num) }}">Newer posts</a></li>
{% else %} <li>Newer posts</li>{% endif %}
{% if posts.has_next %}<li><a href="{{ url_for('index', page=posts.next_num) }}">Older posts</a></li>
{% else %}<li>Older posts</li> {% endif %}
  </ul>
</nav>

{% endblock %}