{% extends "base.html" %}

{% block content %}


<form action="" method="post" name="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <h1> Title </h1>
        {{ form.title(cols=10, rows=10, class="form-control", placeholder="Enter a subject for your post...") }}
    </div>
    {{ form.post }}
<input type="submit" value="Post!">
  </form>

<link href="/static/wysiwyg/summernote.css" rel="stylesheet">
<script src="/static/wysiwyg/summernote.min.js"></script>
<script>
    $(document).ready(function() {
        $('#{{form.post.id}}').summernote({
          height: 300,
          minHeight: null,
          maxHeight: null,
          focus: true
        });
    });
</script>
{% endblock %}