
#gallery ul {
  padding:0 0 0 0;
  margin:0 0 0 0;
}
#gallery ul li {
  list-style:none;
  margin-bottom:25px;
}
#gallery ul li img {
  cursor: pointer;
}

#gallery {
  padding: 20px;
}

.controls{
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;
}
.next {
    float:right;
    text-align:right;
}