/* CSS Styling for base template */

/* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
/* Set height of the grid*/
    .row.content {
        height: 100%
    }

/* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
      margin-top: 20px;
      padding: 20px;
      border-color: #ADD8E6;
      border-style: solid;
      border-width: 2px;
      border-radius: 5px;
    }


.main-content {
    padding-top: 20px;
}

.search-box {
    width: 300px;
    padding-top: 7px;
}

.vertical-offset-20{
    padding-top:20px;
}

.panel-body{
    padding-top:15px;
}

.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	/* border: 1px solid GREY; */
	}

#create_post h1 {
    left-margin: 10px
}
